.even {
  background-color: #EEE;
}

.main-section {
  border-bottom: dashed 1px #000;
}

.section {
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.submit {
  padding: 10px;
}

#pdfframe {
  width: 100%;
  height: 400px;
}
