html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*--- mixins --- */
/*--- basic settings --- */
*, label, div, input, ul, li, section {
  box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: 100%;
  font-family: "Source Sans Pro", STHeitiTC-Light, droid-sans, Helvetica, Arial, "LiHei Pro", "微軟正黑體";
  color: #fff;
  font-size: 100%
}

a {
  color: #274dda; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }


#header {
  position: absolute;
  right: 10%;
  bottom: 10%;
 }
a:hover {
  text-decoration: none; }

h1{
  font-size: 10em;
  color: rgba(255,255,255, 0.7);
}
h2 {
  font-size: 8em;
  color: rgba(255,255,255, 0.7);
}

body{
  background: url(../images/bg2.jpg) no-repeat center  0;
  background-size: cover;
  position: relative;
  }
@media screen and (max-width: 900px) {
  body{font-size: 70%}
}

@media screen and (max-width: 640px) {
  body{
    font-size: 40%;
  }
  #header {
  position: absolute;
  right: 10%;
  bottom: auto;
  top: 30%;
 }
  h1,h2
   {color: #fff;}
}

@media screen and (max-width: 360px) {
  body {
    font-size: 30%;
  }
  #header {
    position: absolute;
    right: 10%;
    top: 30%;
    left: 5%;
   }
}

.fb-wrapper {
  width: 300px;
  padding: 20px;
}
