html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html, body {
  background-color: black;
}

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*--- mixins --- */
/*--- basic settings --- */
*, label, div, input, ul, li, section {
  box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: 100%;
  font-family: "Source Sans Pro", STHeitiTC-Light, droid-sans, Helvetica, Arial, "LiHei Pro", "微軟正黑體";
  color: #fff;
  font-size: 100%
}

a {
  color: #274dda; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }


#header {
  margin: 0 auto;
  width: 80%;
  text-align: center
 }
 #header img{
  width: 100%;
  max-width: 1200px;
 }
a:hover {
  text-decoration: none; }

h1 span{
  display: block;
  text-indent: -9999px;
}
h2 {
  font-size: 8em;
  color: rgba(255,255,255, 0.7);
}

body{
  background: url(../images/bg2.jpg) no-repeat center  0;
  background-size: cover;
  position: relative;
  }
/* button styles*/
a.btn {
  position: relative;
  background: #fa0;
  color: #fff;
  padding: 15px 50px;
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 6px #fa8e10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
}
a.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a.btn:hover {
  box-shadow: 0 4px #fa8e10;
  top: 2px;
}
a.btn:active {
  box-shadow: 0 0 #fa8e10;
  top: 6px;
}
@media screen and (max-width: 640px) {
  body{
    font-size: 80%;
  }
  #header {
    padding-top: 1em;
  }
  #header{
    width: 100%
  }
  a.btn{
    margin-top: 1em;
  }
}

@media screen and (max-width: 360px) {

}

.fb-wrapper {
  width: 100%;
  padding: 30px;
}

.fb-like {
  margin-left: 50px;
}

.fan-page {
  display: inline-block;
  background: linear-gradient(#4C69BA, #3B55A0) repeat scroll 0% 0% transparent;
  background-color: #4263A8;
  line-height: 20px;
  height:20px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}

.fan-page > a {
  color: white;
  text-decoration: none;
}
